
.Rproj.user/F8962AA9/saved_source_markers
.Rproj.user/E7800373/console06/90B3BDB3
.Rproj.user/E7800373/console06/INDEX001
.Rproj.user/E7800373/pcs/files-pane.pper
.Rproj.user/E7800373/pcs/source-pane.pper
.Rproj.user/E7800373/pcs/windowlayoutstate.pper
.Rproj.user/E7800373/pcs/workbench-pane.pper
.Rproj.user/E7800373/persistent-state
.Rproj.user/E7800373/rmd-outputs
.Rproj.user/E7800373/saved_source_markers
.Rproj.user/E7800373/sources/prop/2FF843E9
.Rproj.user/E7800373/sources/prop/3790B5C3
.Rproj.user/E7800373/sources/prop/37BF2AD9
.Rproj.user/E7800373/sources/prop/5486F133
.Rproj.user/E7800373/sources/prop/701B4759
.Rproj.user/E7800373/sources/prop/D74C5CDC
.Rproj.user/E7800373/sources/prop/E992FC6D
.Rproj.user/E7800373/sources/prop/FE178B16
.Rproj.user/E7800373/sources/prop/INDEX
.Rproj.user/E7800373/sources/s-78E4158F/710B4153-contents
.Rproj.user/E7800373/sources/s-78E4158F/7E546E0B-contents
.Rproj.user/E7800373/sources/s-78E4158F/C256C700
.Rproj.user/E7800373/sources/s-78E4158F/C256C700-contents
.Rproj.user/E7800373/sources/s-78E4158F/DC88D944
.Rproj.user/E7800373/sources/s-78E4158F/DC88D944-contents
.Rproj.user/E7800373/sources/s-78E4158F/E6DEBF46
.Rproj.user/E7800373/sources/s-78E4158F/E6DEBF46-contents
.Rproj.user/E7800373/sources/s-78E4158F/lock_file
.Rproj.user/F8962AA9/build_options
.Rproj.user/F8962AA9/console06/INDEX001
.Rproj.user/F8962AA9/pcs/files-pane.pper
.Rproj.user/F8962AA9/pcs/source-pane.pper
.Rproj.user/F8962AA9/pcs/windowlayoutstate.pper
.Rproj.user/F8962AA9/pcs/workbench-pane.pper
.Rproj.user/F8962AA9/rmd-outputs
.Rproj.user/F8962AA9/sdb/per/t/68ED9947
.Rproj.user/F8962AA9/sdb/prop/C82881DD
.Rproj.user/F8962AA9/sdb/prop/INDEX
.Rproj.user/F8962AA9/session-persistent-state
.Rproj.user/F8962AA9/sources/prop/22F2F6F
.Rproj.user/F8962AA9/sources/prop/4F0EDCB
.Rproj.user/F8962AA9/sources/prop/51984D2E
.Rproj.user/F8962AA9/sources/prop/9BC8336E
.Rproj.user/F8962AA9/sources/prop/9EDEAC97
.Rproj.user/F8962AA9/sources/prop/AB984989
.Rproj.user/F8962AA9/sources/prop/C82881DD
.Rproj.user/F8962AA9/sources/prop/E096BF6C
.Rproj.user/F8962AA9/sources/prop/INDEX
.Rproj.user/F8962AA9/sources/s-54C3D574/41B3DEFB-contents
.Rproj.user/F8962AA9/sources/s-54C3D574/820AC8BD-contents
.Rproj.user/F8962AA9/sources/s-54C3D574/E6908B37-contents
.Rproj.user/F8962AA9/sources/s-54C3D574/lock_file
.Rproj.user/shared/notebooks/31C5B994-QMSS-4015-Fall-2017-Lab-1-R-Markdown/1/E780037378E4158F/chunks.json
.Rproj.user/shared/notebooks/31C5B994-QMSS-4015-Fall-2017-Lab-1-R-Markdown/1/s/c21xsc8787vns/000002.csv
.Rproj.user/shared/notebooks/31C5B994-QMSS-4015-Fall-2017-Lab-1-R-Markdown/1/s/c21xsc8787vns/000003.metadata
.Rproj.user/shared/notebooks/31C5B994-QMSS-4015-Fall-2017-Lab-1-R-Markdown/1/s/c21xsc8787vns/000003.rdf
.Rproj.user/shared/notebooks/31C5B994-QMSS-4015-Fall-2017-Lab-1-R-Markdown/1/s/cbi171x77dfbf/000002.csv
.Rproj.user/shared/notebooks/31C5B994-QMSS-4015-Fall-2017-Lab-1-R-Markdown/1/s/chunks.json
.Rproj.user/shared/notebooks/65D1839-test knit/1/E780037378E4158F/c1eaup4yu1sdt/000002.csv
.Rproj.user/shared/notebooks/65D1839-test knit/1/E780037378E4158F/c3kkr81jf5aev/000002.csv
.Rproj.user/shared/notebooks/65D1839-test knit/1/E780037378E4158F/c5rp0jgu05ajy/000002.csv
.Rproj.user/shared/notebooks/65D1839-test knit/1/E780037378E4158F/ccfngbzpr87d6/00000c.csv
.Rproj.user/shared/notebooks/65D1839-test knit/1/E780037378E4158F/chunks.json
.Rproj.user/shared/notebooks/65D1839-test knit/1/E780037378E4158F/cm65m91b847cp/00005e.csv
.Rproj.user/shared/notebooks/65D1839-test knit/1/E780037378E4158F/cm65m91b847cp/00005f.metadata
.Rproj.user/shared/notebooks/65D1839-test knit/1/E780037378E4158F/cm65m91b847cp/00005f.rdf
.Rproj.user/shared/notebooks/65D1839-test knit/1/s/c1eaup4yu1sdt/000002.csv
.Rproj.user/shared/notebooks/65D1839-test knit/1/s/c3mycebary8sc/000002.csv
.Rproj.user/shared/notebooks/65D1839-test knit/1/s/ccfngbzpr87d6/00000c.csv
.Rproj.user/shared/notebooks/65D1839-test knit/1/s/chunks.json
.Rproj.user/shared/notebooks/65D1839-test knit/1/s/cm65m91b847cp/000006.csv
.Rproj.user/shared/notebooks/65D1839-test knit/1/s/cm65m91b847cp/000007.metadata
.Rproj.user/shared/notebooks/65D1839-test knit/1/s/cm65m91b847cp/000007.rdf
.Rproj.user/shared/notebooks/9399255A-example/1/s/c6dy3jhjbkjka/000002.csv
.Rproj.user/shared/notebooks/9399255A-example/1/s/c6yh4srn54zwa/000002.csv
.Rproj.user/shared/notebooks/9399255A-example/1/s/cfaify6uke1jl/000002.csv
.Rproj.user/shared/notebooks/9399255A-example/1/s/cgow1ma0aczu5/000002.csv
.Rproj.user/shared/notebooks/9399255A-example/1/s/chunks.json
.Rproj.user/shared/notebooks/9399255A-example/1/s/cok0hwx0s0ia0/000002.csv
.Rproj.user/shared/notebooks/9399255A-example/1/s/cok0hwx0s0ia0/000003.html
.Rproj.user/shared/notebooks/9399255A-example/1/s/cok0hwx0s0ia0/000003.json
.Rproj.user/shared/notebooks/9399255A-example/1/s/cqk0mde7rwexn/000002.png
.Rproj.user/shared/notebooks/9399255A-example/1/s/csz1eustnhhlc/000002.csv
.Rproj.user/shared/notebooks/9399255A-example/1/s/csz1eustnhhlc/000003.csv
.Rproj.user/shared/notebooks/9399255A-example/1/s/csz1eustnhhlc/000003.metadata
.Rproj.user/shared/notebooks/9399255A-example/1/s/csz1eustnhhlc/000003.rdf
.Rproj.user/shared/notebooks/9399255A-example/1/s/csz1eustnhhlc/000004.html
.Rproj.user/shared/notebooks/9399255A-example/1/s/csz1eustnhhlc/000004.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
hw01/.Rhistory
hw02/KendalL_Loh_HW2_files/figure-html/unnamed-chunk-11-1.png
hw02/KendalL_Loh_HW2_files/figure-html/unnamed-chunk-11-2.png
hw03/.Rhistory
hw03/hw03_FINAL_files/figure-html/unnamed-chunk-5-1.png
misc/.Rhistory
misc/cities.csv
misc/ex_rmarkdown.Rproj
misc/example.docx
misc/example.html
misc/example.nb.html
misc/example.pdf
misc/example.Rmd
misc/faded.css
misc/test_files/figure-html/unnamed-chunk-2-1.png
